img {
		border-radius: 50%;
		width:200px;
		border 4px red;
	display: block;
	margin-left: auto;
  margin-right: auto;
  		
	
}
	body {
  background: url(Images/logo.jpg);
  color: white; 
  max-width: 500px;
  margin: auto;
  
}
	a {
  color: red;
}
